h1 {
    height: 5vh;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.listeExercices {
    width: 50%;
    margin: 0 auto;
    height: 25vh;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-size: 1.5rem;
}


