h2 {
   text-align: center
}
.score {
    width: 50%;
    margin: 0 auto;
    height: 15vh;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.buttons {
    width: 50%;
    margin: 0 auto;
    height: 15vh;  
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
}